@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* Get rid of all default margins/paddings. Set typeface */

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 165, 0, 0.5)!important;
    font-family: "lato", sans-serif;
}


/* Puts the form in the center both horizontally and vertically. Sets its height to 100% of the viewport's height */

.signupFrm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 22px auto;
    width: 100%;
}

.form {
    background-color: White;
    width: 33%;
    border-radius: 8px;
    padding: 15px 30px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
}

@media screen and (max-width:1075px) {
    .form {
        background-color: White;
        width: 75%;
        border-radius: 8px;
        padding: 15px 30px;
        box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
    }
}

@media screen and (max-width:768px) {
    .form {
        background-color: White;
        width: 75%;
        border-radius: 8px;
        padding: 15px 30px;
        box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
    }
    .booth-type .form-label-top {
        margin-top: 17px;
    }
}

@media screen and (max-width:758px) {
    .form {
        background-color: White;
        width: 55%;
        border-radius: 8px;
        padding: 15px 30px;
        box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
    }
    .booth-type {
        margin-top: 10px;
    }
}

@media screen and (max-width:540px) {
    .form {
        background-color: White;
        width: 85%;
        border-radius: 8px;
        padding: 15px 30px;
        box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
    }
}

.title {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 0%;
}

.subTitle {
    opacity: 0.8;
}

.form-label-top {
    width: 100%;
    margin-bottom: 14px;
}

.form-label {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    word-break: break-word;
}

.inputContainer {
    position: relative;
    height: 45px;
    width: 90%;
    margin-bottom: 17px;
}


/* Style the inputs */

.input {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border: 1px solid #DADCE0;
    border-radius: 7px;
    font-size: 16px;
    padding: 0 20px;
    outline: none;
    background: none;
    z-index: 1;
}


/* Hide the placeholder texts (a) */

 ::placeholder {
    color: transparent;
}


/* Styling text labels */

.label {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 0 4px;
    background-color: White;
    color: #777777;
    font-size: 16px;
    transition: 0.5s;
    z-index: 0;
}

.submitBtn {
    display: block;
    padding: 15px 30px;
    border: none;
    background-color: orange;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
    font-weight: 700;
    height: 55px;
    padding: 10px 35px;
    width: 100%;
    text-transform: capitalize;
}

.submitBtn:hover {
    background-color: rgb(196, 167, 112);
    transform: translateY(-2px);
}

.input:focus+.label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
    color: rgb(160, 155, 160);
}

.input:focus {
    border: 2px solid rgb(160, 155, 160);
}

.input:not(:placeholder-shown)+.label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
}

.booth-size {
    margin-bottom: 17px;
    position: relative;
    height: 45px;
    width: 90%;
}

.booth-type {
    display: inline;
}